html,
body {
  margin: 0;
  padding: 0;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url('../public/fonts/Poppins-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: auto;
  src: url('../public/fonts/Poppins-Medium.ttf') format('opentype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: auto;
  src: url('../public/fonts/Poppins-SemiBold.ttf') format('opentype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: url('../public/fonts/Poppins-Bold.ttf') format('opentype');
}


:root {
  --yellow-background: #E5E0AC;
  --white-background: #EFEFEF;
}